<!DOCTYPE html>
<html>
	<head>
		<title>Justin Y. Collection</title>

		<meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
		<meta name="author" content="literalchaos.de">
		<meta name="description" content="Check if Justin Y. has left a comment under a video">

		<link rel="icon" href="https://i.imgur.com/bv142qZ.png">
		<link rel="stylesheet" href="/assets/style.css">

		<link href="https://fonts.googleapis.com/css?family=Cabin" rel="stylesheet">

		<% if (trackingCode != undefined) { %>
			<%- include(trackingCode) %>
		<% } %>
	</head>
	<body>
		<h1><img src="https://i.imgur.com/bv142qZ.png"> Justin Y. Collection</h1>

		<div id="info-text">
			Below are all <b><%= comments.length %></b> comments by Justin Y. the detector has ever detected.
            <a href="/">Go back to detecting videos</a>.
		</div>

		<div style="margin-top: 10px">
			<% if (orderDirection == "asc") { %>
				<a href="/collection?order=desc" class="order-button"><button>Sort newest to oldest</button></a>
				<a href="/collection?order=recent" class="order-button"><button>Sort by recently detected</button></a>
				<div>Currently sorted <u>oldest to newest</u></div>
			<% } else if (orderDirection == "desc") { %>
				<a href="/collection?order=asc" class="order-button"><button>Sort oldest to newest</button></a>
				<a href="/collection?order=recent" class="order-button"><button>Sort by recently detected</button></a>
				<div>Currently sorted <u>newest to oldest</u></div>
			<% } else if (orderDirection == "recent") { %>
				<a href="/collection?order=desc" class="order-button"><button>Sort newest to oldest</button></a>
				<a href="/collection?order=asc" class="order-button"><button>Sort oldest to newest</button></a>
				<div>Currently sorted <u>by recently detected</u></div>
			<% } %>
		</div>

		<div id="collection">
            <% for (let comment_data of comments) { %>
			<div class="video-container">
				<div class="video">
					<a target="_blank" href="https://www.youtube.com/watch?v=<%- comment_data.video_id %>" class="title"><%= comment_data.video_title %></a>
					<div class="channel"><%= comment_data.channel_name %></div>

					<div class="content"><%- comment_data.content %></div>

					<div class="meta">
						<span><a target="_blank" href="https://www.youtube.com/watch?v=<%- comment_data.video_id %>&lc=<%- comment_data.comment_id %>">Comment Link</a></span>
						<span>Posted on <%= comment_data.date %></span>
						<% if (comment_data.first_detected !== null) { %>
							<span>First detected on <%= comment_data.first_detected %></span>
						<% } %>
					</div>
				</div>
			</div>
            <% } %>
        </div>

		<footer>
			<a href="https://github.com/jangxx/justiny-detector" target="_blank">GitHub</a> | A project by <a target="_blank" href="https://literalchaos.de">literalchaos.de</a>
		</footer>
	</body>
</html>