<!DOCTYPE html>
<html>
	<head>
		<title>Justin Y. Collection</title>

		<meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
		<meta name="author" content="literalchaos.de">
		<meta name="description" content="Check if Justin Y. has left a comment under a video">

		<link rel="icon" href="https://i.imgur.com/bv142qZ.png">
		<link rel="stylesheet" href="/assets/style.css">

		<link href="https://fonts.googleapis.com/css?family=Cabin" rel="stylesheet">
	</head>
	<body>
		<h1><img src="https://i.imgur.com/bv142qZ.png"> Justin Y. Collection</h1>

		<div id="info-text">
			Below are all of Justin Y's comments the detector has ever detected.
            <a href="/">Go back to detecting videos</a>.
		</div>

		<div id="collection">
            <% for (let comment_data of comments) { %>
            <div class="video">
                <a href="https://www.youtube.com/watch?<%- comment_data.video_id %>" class="title"><%= comment_data.video_title %></a>

                <div class="content"><%= comment_data.content %></div>

                <div class="meta">
                    <a href="https://www.youtube.com/watch?<%- comment_data.video_id %>&lc=<%- comment_data.comment_id %>">Comment Link</a> | Posted on <%= comment_data.date %>
                </div>
            </div>
            <% } %>
        </div>

		<footer>
			<a href="https://github.com/jangxx/justiny-detector" target="_blank">GitHub</a> | A project by <a target="_blank" href="https://literalchaos.de">literalchaos.de</a>
		</footer>
	</body>
</html>